{% extends "base.html" %}
{% block content %}
{% include "partials/hero.html" %}
{% include "partials/about.html" %}
{% include "partials/gallery.html" %}
<hr class="hr">
{% include "partials/amenities.html" %}
<hr class="hr">
{% include "partials/floorplans.html" %}
<hr class="hr">
{% include "partials/retreat.html" %}
<hr class="hr">
{% include "partials/testimonial.html" %}
<hr class="hr">
{% include "partials/location.html" %}
<hr class="hr">
{% include "partials/footer.html" %}
{% include "partials/sticky_cta.html" %}
{% endblock %}
